# VITE
VITE_OAUTH_CLIENT_ID=
VITE_OAUTH_CLIENT_SECRET=
VITE_OAUTH_REDIRECT_URI=
VITE_OAUTH_TOKEN_URI=

# JWT
JWT_PUBLIC_KEY=
JWT_PRIVATE_KEY=
JWT_ISSUER=
JWT_AUDIENCE=

# Google OAuth
GOOGLE_REDIRECT_URI=
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=

# Database
CONNECTION_STRINGS_DEFAULT_CONNECTION=